<!DOCTYPE html>

<html>

<head>
<body>
<style>

h1{
  box-sizing: border-box;

    border box: width 300px;
    padding: 40px;    
    border: 15px solid blue;

<body>
</style>

</head>

<body>

</html>


img { width: 250px }
